
#header {
 background-color: white;
 background-image: none;
}
.site-branding__name {
  font-size: 2rem;
}
.site-branding__text a {
  color: orange;
}
.path-frontpage .node--view-mode-teaser h2 a {
  color: orange;
  font-size: 2rem;
  font-family: Georgia;
}
.drupal8 {
	margin-left: 250px;
	text-align: center;
}
.site-footer {
	background-color: white;
	background-image: none;
}
