
#east {
 background-color: blue;
 padding: 10px;
}
#west {
 background-color: darkblue;
 padding: 10px;
 float: left;
}
#north {
 background-color: red;
 padding: 10px;
 float: left;
}
#south {
 background-color: darkred;
 padding: 10px;
 float: left;
}
